<h2>Add a list</h2>

<form action="<%= board_lists_url(@board) %>" method="POST">
  <input type="hidden" name="authenticity_token"
           value="<%= form_authenticity_token %>">
  <label for="list_name">List Name</label>
  <input type="text" id="list_name" name="list[name]">
  <input type="submit" value="Add List">
</form>