<div id="content">
</div>

<script type="application/json" id="current_user_json">
	<%= current_user.to_json.html_safe %>
</script>

<script>
  $(document).ready(function(){
    TrelloClone.initialize();
  });
</script>