<div id="content">
</div>

<script type="application/json" id="current_user_id"><%= current_user.id %></script>

<script type="application/json" id="all_users_json"><%= User.select([:username, :email, :id]).to_json.html_safe  %></script>

<script>
  $(document).ready(function(){
    TrelloClone.initialize();
  });
</script>