<form action="<%= board_board_admins_url(@board) %>" method="POST">
  <input type="hidden" name="authenticity_token"
           value="<%= form_authenticity_token %>">
  <select name="board_admin[user_id]">
    <option selected></option>
    <% @board.members.each do |user| %>
      <% if !is_admin?(@board, user) %>
      <option value="<%= user.id %>"><%= user.username %></option>
      <% end %>
    <% end %>
  </select>
  <input type="submit" value="Add Admin">
</form>