<form id="new-card-form">
  <div class="form-group">
    <textarea class="form-control" name="card[name]"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Add card</button>
  <button type="button" id="close-card-form" class="close">&times;</button>
</form>