<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <div id="card-title-wrapper"></div>
    </div>
    <div class="modal-body">
      <div id="card-description-wrapper"></div>
      <hr>
      <div id="checklists-wrapper"></div>
			<hr>
			<div id="comments-wrapper"></div>
    </div>
  </div>
</div>