<form id="card-title-form">
  <div class="form-group">
    <textarea class="form-control" id='title-text' name="card[name]"><%= card.get('name') %></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
  <button type="button" id="close-card-form" class="close">&times;</button>
</form>