<form id="new-checklist-form">
  <div class="form-group">
    <textarea class="form-control" id="checklist-text" name="name"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Add Checklist</button>
  <button type="button" class="close" id="close-item-form">&times;</button>
</form>