<form id="new-comment-form">
  <div class="form-group">
    <textarea class="form-control" id="comment-text" name="body" placeholder="Add a comment" rows=1><%= value %></textarea>
  </div>
	<div id='comment-buttons' class='hidden'>
	  <button type="submit" id="comment-submit" class="btn btn-primary">Add Comment</button>
	  <button type="button" class="close" id="close-item-form">&times;</button>
	</div>
</form>