<div class="checkbox">
  <% if(item.get('checked')){ %>
    <label>
      <input type="checkbox" class="toggle-item-checked" checked >
      <%= item.get('body') %>
  <% } else { %>
    <label>
      <input type="checkbox" class="toggle-item-checked"><%= item.get('body') %>
    <% } %>
  </label>
</div>