<form action="<%= checklist_items_url(@checklist) %>" method="POST">
  <input type="hidden" name="authenticity_token"
           value="<%= form_authenticity_token %>">
  <label for="item_body">Item Name</label>
  <input type="text" id="item_body" name="item[body]">
  <input type="submit" value="Add Item">
</form>