<%= link_to "<-#{@card.name}", card_url(@card) %>

<h2>Add a checklist</h2>

<form action="<%= card_checklists_url(@card) %>" method="POST">
  <input type="hidden" name="authenticity_token"
           value="<%= form_authenticity_token %>">
  <label for="checklist_name">Checklist Name</label>
  <input type="text" id="checklist_name" name="checklist[name]">
  <input type="submit" value="Add Checklist">
</form>