/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$body-bg: #23719F;

$navbar-height: 30px;
$navbar-default-bg: rgba(0,0,0,0.1);
$navbar-default-link-color: #DDD;
$navbar-border-radius: 0;
$navbar-default-border: none;




@import "bootstrap";
@import "typeahead";

#new-board {
	background-color: #1A5375;
	width: 100px;
	padding: 10px;
	border-radius: 5px;
}

#board-sidebar{
	background-color: #EEEEEE;
	border-radius: 5px;
}

.list-body{
	background-color: #DDD;
}

div.board-summary {
	background-color: #DDD;
	border-radius: 10px;
  height: 200px;
  margin: 10px;
}

div#new-list-wrapper{
	background-color: #1A5375;
	border-radius: 5px;
	a {
		color: rbga(255, 255, 255, 0.7);
	}
}

.checked {
	text-decoration: line-through;
}

.hidden {
	display: none;
}

.btn.dropdown-toggle {
	background-color: transparent;
	color: transparent;
}

 div:hover > .btn.dropdown-toggle{
	color: black;
}

.member-tile {
  float: left;
}

.ui-sortable-helper{
	transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
}

.placeholder{
	background-color: #ddd;
	margin-left: 0;
	border-radius: 10px;
}

.list-placeholder{
	background-color: #1A5375;
	border-radius: 10px;
}

.col-md-3:nth-child(4n+1){
    clear: left;
}

.cards-list{
	min-height: 10px;
	max-height: 300px;
	overflow: auto;
}

#checklists-show-wrapper{
	overflow: auto;
}

.checklist{
	background-color: white;
	border: thin solid #DDD;
	border-radius: 5px;
	margin-bottom: 10px;
}

.list-name{
	margin: 0;
}
