<form id="list-name-form">
	<div class="form-group">
		<input class="form-control" type="text" name="name" id="list-name-text" value="<%= list.get('name') %>">
	</div>
	<input class="btn btn-primary" type="submit">
	<button type="button" id="close-name-form" class="close">&times;</button>
</form>