<form id="new-list-form">
  <div class="form-group">
    <textarea class="form-control" name="list[name]"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Add list</button>
  <button type="button" class="close">&times;</button>
</form>