<br>
<form id="new-list-form">
  <div class="form-group">
    <textarea class="form-control" name="list[name]"></textarea>
  </div>
	<div class="form-group">
	  <button type="submit" class="btn btn-primary">Add list</button>
	  <button type="button" class="close" id="close-list-form">&times;</button>
	</div>
</form>