<div class="list-group-item">
  <div class="list-group-item-heading row">
		<h4 class="col-xs-10"><%= list.get("name") %></h4>
		<div class="dropdown float-right">
			<button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu pull-right" role="menu">
				<li role="presentation">
					<a href="#" class="new-card-trigger">Add a card</a>
				</li>
					<hr>
				<li class="text-center">
					<button class="btn btn-danger remove-list">Remove List</button>
				</li>
			</ul>
		</div>
	</div>

	<div class="cards-list" data-id="<%= list.id %>">
		<% list.get('cards').each(function(card){ %>
		   <a href="#" class="list-group-item show-card" data-id="<%= card.id %>">
		     <%= card.get("name") %>
		   </a>
		<% }); %>
	</div>
	<div class="list-group-item" id="new-card-wrapper">
	  <a href="#" class="new-card-trigger">New Card</a>
	</div>
</div>